.titleBlock {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}

.table {
	background-color: #fff;
	color: black;
	padding: 8px;
	margin: 16px 0;
	border-radius: 8px;
	font-size: 12px;
}

.row {
	display: grid;
	grid-template-columns: 80px auto 15% 70px 10% 20px;
	padding: 4px;
	transition: 0.3s;
	border-radius: 8px;

	&:not(:last-child) {
		border-bottom: solid 1px rgb(91, 91, 95);
	}

	&:hover {
		background-color: rgb(213, 214, 248);
	}
}

.cell {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 4px;
}

.numberCell {
	@extend .cell;
	text-align: right;
	font-style: italic;
}

.textCell {
	@extend .cell;
	text-align: left;
}

.textCellDelete {
	@extend .cell;
	text-align: center;
	transition: 0.3s;
	cursor: pointer;

	&:hover {
		color: #f70b3b;
	}
}

.addButtonBlock {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.addButton {
	height: 44px;
	font-weight: 500;
	padding: 16px;
	background-color: #2adb16;
	color: #fff;
	transition: 0.3s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border: none;
	font-size: 20px;

	&:hover {
		background: #76db6b;
	}

	&:active {
		background: #116008;
	}
}
