@use "../../styles/vars" as *;
@use "../../styles/fonts" as *;

.titleBlock {
	padding: 10px;
	background-color: rgb(214, 43, 226);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #fff;
}

.title {
	@include heading-3;
	display: flex;
	justify-content: space-between;
	transition: 0.3s;
	cursor: pointer;

	&:hover {
		transform: scale(1.01);
	}
}

.expenseType {
	@include body-L;
	display: flex;
	justify-content: space-between;
}

.table {
	margin: 0px 10px;
	padding: 4px;
	background-color: #fff;
	color: #000;
	border-radius: 8px;
}

.header {
	@include body-S(600);
	display: grid;
	grid-template-columns: 80px auto 80px 20px;
	padding: 4px;
	border-radius: 8px;
	border-bottom: solid 1px rgb(91, 91, 95);
}

.cell {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4px;
}

.addButtonBlock {
	margin: 28px;
	display: flex;
	justify-content: center;
}
