@use "../../styles/vars" as *;
@use "../../styles/fonts" as *;

.titleBlock {
	padding: 10px;
	background-color: rgb(214, 43, 226);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #fff;
}

.title {
	@include heading-3;
	display: flex;
	justify-content: space-between;
	transition: 0.3s;
	margin-bottom: 10px;
	cursor: pointer;

	&:hover {
		transform: scale(1.01);
	}
}

.block {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin: 10px;
}
