@use "../../../styles/vars" as *;
@use "../../../styles/fonts" as *;

.spin {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 7px;
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: $primary transparent $primary $primary;
	transform: rotate(45deg);
	transition: 0.1s;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

.spinButton {
	@extend .spin;
	margin-left: 4px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
