@use "../../styles/vars" as *;

.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: calc(100% - 50px);
	max-height: 90%;
	background-color: #fff;
	border-radius: 8px;
	padding: 15px 10px;
	color: #53297d;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
}

.multiBlock {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.close {
	position: absolute;
	top: -22px;
	right: -20px;
	color: #fff;
	transition: 0.3s;
	cursor: pointer;

	&:hover {
		color: $primary;
	}
}
