.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 90%;
	max-height: 90%;
	background-color: #fff;
	border-radius: 8px;
	padding: 10px;
	color: #53297d;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.multiBlock {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
